/* bootstap ,javascipt,react,springboot */
#Without{
    display: flex;
    width: 1500px;
    height: 150px;
    border: 2px solid brown;
    

}
.box{
    width: 100px;
    height: 100px;
    margin: 20px 10px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: greenyellow;
}
p{
    margin-top: 25px;
    background-color: bisque;

}