*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;
    
}
.box{
    width: 60px;
   height: 90px;
   background-color: rgb(20, 188, 115);
   margin: 1%;
   display: flex;
    align-items: center;
    justify-content: center;
   

}
h3{ 
    color: darkblue;
}
#box1{
    background-color: rgb(208, 189, 15);
    border-radius: 50%;    
}
#box2{
    background-color: rgb(219, 20, 188);
    border-radius: 10%;
}
#box1 h3{
    color: brown;
}