*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 60px;
   height: 60px;
   background-color: rgb(20, 188, 115);
   margin: 1%;
   display: flex;
    align-items: center;
    justify-content: center;
   border: 2px solid red;

}
h3{ 
    color: darkblue;
}
#box1{
    background-color: black;
}
#box1 h3{
    color: brown;
}